<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
</head>
<body>

<h1>Utilisateur</h1>

<a href="/admin/holocube/new">Créer un nouvel utilisateur</a>

<table>
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Mot de passe</th>
    </tr>
    <% utilisateurs.forEach(function(utilisateurs) { %>
        <tr>
            <td><%= utilisateurs.username %></td>
            <td><%= utilisateurs.email %></td>
            <td><%= utilisateurs.password %></td>
            <td><a href="/admin/utilisateur/<%= utilisateurs.id %>/edit">Modifier</a></td>
            <td><a href="/admin/utilisateur/<%= utilisateurs.id %>/delete">Supprimer</a></td>
        </tr>
    <% }); %>
</table>

<% if (empty) { %>
    <span>Il n'y a pas d'utilisateur pour le moment</span>
<% } %>

<% if (err) { %>
<span>Il y a eu un problème lors de la suppression, veuillez recommencer</span>
<% } %>

<hr>

<a href="/logout">Déconnexion</a>

</body>
</html>