<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
</head>
<body>

<h1>Modifier l'holocube </h1>

<form action="" method="post">
    Nom: <input type="text" name="nom" placeholder="Nom" value="<%= holocube.nomHolocube %>" required><br>
    Adresse IP: <input type="text" name="adresseIP" placeholder="Adresse IP" value="<%= holocube.adresseIP %>" required><br>
    Mot de passe: <input type="password" name="password" placeholder="Mot de passe" value="<%= holocube.mdp %>" required><br>
    <label for="clientHolo">Client:</label>
    <select id="clientHolo" name="client">
        <option></option>
        <% utilisateurs.forEach(function(utilisateur) { %>
        <option value="<%= utilisateur.id %>" <% if(holocube.utilisateurId === utilisateur.id) { %>selected=selected<% } %> ><%= utilisateur.username %></option>
        <% }); %>
    </select><br>
    <label for="playlistHolo">Playlist:</label>
    <select id="playlistHolo" name="playlist">
        <option></option>
        <% playlists.forEach(function(playlist) { %>
        <option value="<%= playlist.id %>" <% if(holocube.playlistId === playlist.id) { %>selected=selected<% } %>><%= playlist.nomPlaylist %></option>
        <% }); %>
    </select><br>
    <input type="submit">
</form>

<% if (err) { %>
<span style="color:red">L'enregistrement a échoué, veuillez recommencer</span>
<% } %>

</body>
</html>